#cmp-map {
  height: 100%;
  width: 100%;
}

#cmp-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: auto;
  min-width: 280px;
  transform: translateX(-50%);
}
#cmp-popup:after, #cmp-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  left: 50%;
}

#cmp-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
#cmp-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.cmp-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.cmp-popup-closer:after {
  content: "✖";
  color: #333333;
}

#cmp-popup h4 {
  margin: 0;
  font-size: 16px;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
  display: inline-block;

}
#cmp-popup h4 span {
  display: inline-block;
  background-color: #1b386e;
  color: white;
  padding: 4px;
  border-radius: 4px;
}

#cmp-popup p {
  margin: 5px 0 10px;
  padding: 0 5px;
}

#cmp-popup p a {
  display: inline-block;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #f48900;
  color: white;
  font-weight: bold;
}