body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#cnt-new-reformers {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#cnt-new-reformers header {
  height: 90px;
  display: flex;
}
#cnt-new-reformers header img {
  height: 100%;
  width: auto;
}

#cnt-new-reformers .cnt-nf-details {
  width: 300px;
  background-color: red;
}

#cnt-new-reformers .cnt-nf-map {
  flex-grow: 1;
  background-color: blue;
  position: relative;
}